* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-Black: #000000;
  --color-Gainsboro: #dbdbdb;
  --color-white: #ffffff;
  --bg-color: #ffffff;
}
.crescent-moon {
  --color-Black: #ffffff;
  --color-Gainsboro: #000000;
  --color-white: #000000;
  --bg-color: #11132c;
}
body {
  font-family: "Roboto", serif;
  background-color: var(--bg-color);
}
.container {
  padding: 25px 0 0 0;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container,
.logo {
  display: flex;
  justify-content: space-between;
}
.logo a {
  font-size: 28px;
  font-weight: 500;
}
ul {
  display: flex;
  gap: 30px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-Black);
}
.fa-bars {
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.in {
  padding: 5px;
}
.course-platform {
  color: var(--color-Black);
}
header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #78787b;
  background-color: var(--color-white);
  z-index: 9;
}

@media (max-width: 991px) {
  header nav ul {
    display: none;
  }
  .fa-bars {
    display: block;
    color: var(--color-Black);
    margin-left: 130px;
  }
  header nav ul.opn {
    display: block;
    background-color: #292e72;
    width: 40%;
    height: 270px;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60px;
    left: 60%;
  }
}
.crescent {
  width: 25px;
  cursor: pointer;
}
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.form-container {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 20px;
  text-align: center;
  color: var(--color-Black);
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}
.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: var(--color-Black);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #f5f5f5;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

.next {
  background-color: #000;
  color: #ffffff;
  padding: 10px 60px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.next:hover {
  background-color: #504c4c;
}
